.titlePresentation {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.containerPresentationContenu {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.containerPresentation {
  height: 800px;
  background-color: rgba(31, 93, 166, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.presentation {
  width: 100px;
  margin-left: 10px;
}
.imgJS {
  outline: 3px solid black;
  border-radius: 5px;
  margin-left: 30px;
}
