.title{
color: #1f5da6;
font-weight: bold;
font-size: 30px;
margin: 20px;
}
.containerPresentation{
    height:auto;
 outline:2px solid green;
 display: flex;
 
 margin-left:10px;
 margin-right:10px;
}
.containerTxt{
    margin-left: 25px;
}