.containerPresentation{
  background:linear-gradient(#ffffff 85%, #c73429);
display: flex;
flex-direction: column;
align-items: center;

}

.cardPresentation {
  width:auto;
  
  background: #fff;
  border-radius: 15px;
  padding: 1rem;
  display:flex;
  gap: 1.5rem;
  transition:.3s ease-in-out;
  box-shadow:.3px 4px 7px #1f5da6;
  &:hover {
    box-shadow:.3px 4px 7px #c73429;
  }
  
  .img-boxPresentation {
    width: auto;
    height:30vh;
    border-radius: 10px;
    
    .imgPresentationFondation {
      width:auto;
      height:30vh;
      border-radius: inherit;
      object-fit:cover;
    }
  }
  .contentPresentationFondation {
    padding: 1rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    
    .titlePresentationFondation {
      font-size: 1.1rem;
    }
    .txtPresentationFondation {
      font-size: .8rem;
      color: gray;
    }
  }

}

@media screen and (max-width:800px){
  .cardPresentation {
    margin:1rem;   
    flex-direction: column;
  }
}

@media screen and (max-width:600px){
  .cardPresentation {
    grid-template-columns: 1fr;
    margin:1rem;
  }
}