.containerHeader{
    background: linear-gradient(0.25turn, #1f5da6, #ffffff, #c73429);
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  
}
.separator{
   
  height:10px;
    background: #ffffff;
    box-shadow: -1px 0px 25px #ffffff;
}
.logoFJS{
    border-radius: 5px;
    margin: 5px;
    width:250px;
    height:auto;
    object-fit: cover;
}