.containerNew{
  background:  #c73429;
 height:auto;
 width:auto;
}
.containerCardNew{
 padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
::-webkit-scrollbar {
    background: #e4e4e4 !important;
    width: 0.5rem;
  }
  ::-webkit-scrollbar-thumb {
    background: #7e7e7e !important;
    border-radius: 1rem;
  }
  

  .cardNew {
    position: relative;
    max-width: 18.75rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;
  }
  .card-body,
  .card-footer {
    padding: 1.5em;
    padding-bottom: 0;
  }
  .imageNew {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
  }
  .cardNew:hover img {
    transform: scale(1.2);
  }
  .card-thumbNew {
    position: relative;
    height: 200px;
    transition: height 0.4s ease;
  }
  .card-thumbNew a {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .cardNew:hover .card-thumbNew {
    height: calc(200px - 4.5rem);
  }
  .card-thumbNew::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .cardNew:hover .card-thumbNew::after {
    opacity: 0.4;
  }
  .card-dateNew {
    display: flex;
    position: absolute;
    top: -3rem;
    right: 0;
    width: fit-content;
    margin: 1rem;
    padding: 0.25rem 0.75rem;
    background-color: #efefef;
    color: #000;
    border-radius: 2rem;
    transition: top 0.4s ease;
  }
  .card-dateNew :first-child {
    margin-right: 0.25rem;
    font-size: 0.75rem;
  }
  .card-dateNew :last-child {
    font-size: 0.75rem;
  }
  .card-category {
    position: absolute;
    bottom: -1rem;
    right: 0;
    margin: 0 1rem;
    padding: 0.25rem 0.75rem;
    background-color: #4193f7;
    color: #fff;
    border-radius: 2rem;
    z-index: 1;
    transition: right 0.4s ease;
  }
  .cardNew:hover .card-category {
    right: 45%;
  }
  
  .card-description {
    display: block;
    height: 0;
    padding: 0 0.5em;
    font-size: 0.875rem;
    /* color: rgb(96, 91, 91); */
    color: #666c74;
    opacity: 0;
    transition: height 0.4s ease, opacity 0.2s ease;
  }
  .cardNew:hover .card-description {
    height: 4.5rem;
    opacity: 1;
  }
  .card-footerNew {
    display: flex;
    justify-content: flex-end;
    background: #fff;
  }
  
  .cardNew:hover {
    top: 0;
  }
  