.imgNew1F{
    width:800px;
}

.containerNews{
    display: flex;
    margin-left:10px;
    margin-right:10px;
}
.source{
    font-size:12px;
    color:gray;
    text-decoration: underline;
    font-style: italic;
}