.imgNew1F{
    width:800px;
}

.containerNews{
    outline: 1px solid black;
    display: flex;
    margin-left:10px;
    margin-right:10px;
    margin-top:80px;
}
.lien{
    font-size:12px;
    color:gray;
    text-decoration: underline;
    font-style: italic;
}